{% extends 'layout.html.twig' %}

{% import 'base/macros.html.twig' as macros %}
{% use 'base/class.sidebar.html.twig' %}

{% block title %}
    {{ parent() }} &raquo; {{ node.FullyQualifiedStructuralElementName }}
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span5">
            {{ block('sidebar') }}
        </div>

        <div class="span7">
            <div class="element class">
                {% include 'class/base.element.html.twig' with {'node': node, 'type': 'class'} %}
            </div>
            <a id="{{ node.fullyQualifiedStructuralElementName }}"></a>
            <ul class="breadcrumb">
                <li><a href="{{ path('index.html') }}"><i class="icon-custom icon-class"></i></a></li>
                {{ macros.buildBreadcrumb(node.namespace) }}
                <li class="active"><span class="divider">\</span><a href="{{ path(node) }}">{{ node.name }}</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
