{% extends 'layout.html.twig' %}

{% macro renderNamespaceDetails(node) %}
    {% import _self as self %}
    {% import 'base/macros.html.twig' as macros %}

    <ul class="breadcrumb">
        <li><a href="{{ path('index.html') }}"><i class="icon-grid-view-2"></i></a></li>
        {{ macros.buildBreadcrumb(node) }}
    </ul>

    {% if node.classes|length > 0 or node.interfaces|length > 0 or node.traits|length > 0 or node.functions|length > 0 or node.constants|length > 0 %}
        {% if node.functions|length > 0 %}
            <div class="namespace-indent">
                <h3><i class="icon-custom icon-function"></i> Functions</h3>
                {% for function in node.functions|sort_asc %}
                    {{ macros.elementSummary(function, 'function') }}
                {% endfor %}
            </div>
        {% endif %}

        {% if node.constants|length > 0 %}
            <div class="namespace-indent">
                <h3><i class="icon-custom icon-constant"></i> Constants</h3>
                {% for constant in node.constants|sort_asc %}
                    {{ macros.elementSummary(constant, 'constant') }}
                {% endfor %}
            </div>
        {% endif %}

        {% if node.classes|length > 0 or node.interfaces|length > 0 or node.traits|length > 0 %}
            <div class="namespace-indent">
                <h3><i class="icon-custom icon-class"></i> Classes, interfaces and traits</h3>
                {% for trait in node.traits|sort_asc %}
                    {{ macros.elementSummary(trait, 'trait') }}
                {% endfor %}

                {% for interface in node.interfaces|sort_asc %}
                    {{ macros.elementSummary(interface, 'interface') }}
                {% endfor %}

                {% for class in node.classes|sort_asc %}
                    {{ macros.elementSummary(class, 'class') }}
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}

    {% for namespace in node.children|sort_asc %}
        {{ self.renderNamespaceDetails(namespace) }}
    {% endfor %}
{% endmacro %}

{% macro renderNamespaceSidebar(node) %}
    {% import _self as self %}

    {% for namespace in node.children|sort_asc %}
    <li>
        <a href="{{ path(namespace) }}" title="{{ namespace.name }}">
            <i class="icon-grid-view-2"></i> {{ namespace.name }}
        </a>
        <ul class="nav nav-list nav-namespaces">
            {{ self.renderNamespaceSidebar(namespace) }}
        </ul>
    </li>
    {% endfor %}
{% endmacro %}

{% block title %}
    {{ project.title }} &raquo; {{ node.FullyQualifiedStructuralElementName }}
{% endblock %}

{% block content %}
    {% import _self as self %}

    <div class="row-fluid">

        <div class="span5">
            <div class="btn-group view pull-right" data-toggle="buttons-radio">
                <button class="btn details" title="Show descriptions and method names">
                    <i class="icon-list"></i></button><button class="btn simple" title="Show only method names">
                    <i class="icon-paragraph-justify"></i>
                </button>
            </div>
            <ul class="side-nav nav nav-list">
                <li class="nav-header">
                    <i class="icon-map-marker"></i> Namespaces
                </li>
                {{ self.renderNamespaceSidebar(node) }}
            </ul>
        </div>

        <div class="span7 namespace-contents">
            {{ self.renderNamespaceDetails(node) }}
        </div>
    </div>
{% endblock %}
