{% extends 'layout.html.twig' %}

{% macro renderPackageDetails(node) %}
    {% import _self as self %}
    {% import 'base/macros.html.twig' as macros %}

    {% if node.classes|length > 0 or node.interfaces|length > 0 or node.traits|length > 0 or node.functions|length > 0 or node.constants|length > 0 %}
        <ul class="breadcrumb">
            <li><a href="{{ path('index.html') }}"><i class="icon-grid-view-2"></i></a></li>
            {{ macros.buildBreadcrumb(node) }}
        </ul>

        {% if node.functions|length > 0 %}
            <div class="package__functions">
                <h2 class="package__header">Functions</h2>
                {% for function in node.functions|sort_asc %}
                    {{ macros.elementSummary(function, 'function') }}
                {% endfor %}
            </div>
        {% endif %}

        {% if node.constants|length > 0 %}
            <div class="package__constants">
                <h2 class="package__header">Constants</h2>
                {% for constant in node.constants|sort_asc %}
                    {{ macros.elementSummary(constant, 'constant') }}
                {% endfor %}
            </div>
        {% endif %}

        {% if node.traits|length > 0 %}
            <div class="package__traits">
                <h2 class="package__header">Traits</h2>
                {% for trait in node.traits|sort_asc %}
                    {{ macros.elementSummary(trait, 'trait') }}
                {% endfor %}
            </div>
        {% endif %}

        {% if node.interfaces|length > 0 %}
            <div class="package__traits">
                <h2 class="package__header">Interfaces</h2>
                {% for interface in node.interfaces|sort_asc %}
                    {{ macros.elementSummary(interface, 'interface') }}
                {% endfor %}
            </div>
        {% endif %}

        {% if node.classes|length > 0 %}
            <div class="package__classes">
                <h2 class="package__header">Interfaces</h2>
                {% for class in node.classes|sort_asc %}
                    {{ macros.elementSummary(class, 'class') }}
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}

    {% for package in node.children|sort_asc %}
        {{ self.renderPackageDetails(package) }}
    {% endfor %}
{% endmacro %}

{% macro renderPackageSidebar(node) %}
    {% import _self as self %}

    {% for package in node.children|sort_asc %}
    <li>
        <a href="{{ path(package) }}" title="{{ package.name }}">
            <i class="icon-grid-view-2"></i> {{ package.name }}
        </a>
        <ul class="nav nav-list nav-packages">
            {{ self.renderPackageSidebar(package) }}
        </ul>
    </li>
    {% endfor %}
{% endmacro %}

{% block title %}
    {{ parent() }} &raquo; {{ node.FullyQualifiedStructuralElementName }}
{% endblock %}

{% block content %}
    {% import _self as self %}

    <div class="row-fluid">
        <aside class="span5">
            <ul class="side-nav nav nav-list">
                <li class="nav-header">
                    <i class="icon-map-marker"></i> Packages
                </li>
                {{ self.renderPackageSidebar(node) }}
            </ul>
        </aside>

        <main class="span7 package">
            {{ self.renderPackageDetails(node) }}
        </main>
    </div>
{% endblock %}
