{% extends 'layout.html.twig' %}

{% block title %}
    {{ project.title }} &raquo; Deprecated elements
{% endblock %}

{% block content %}
    <div class="row-fluid">

        <div class="span5">
            <ul class="side-nav nav nav-list">
                <li class="nav-header">Navigation</li>
                {% set errorCount = 0 %}
                {% for element in project.indexes.elements if element.deprecated %}
                    {% if element.file.path != previousPath %}
                        <li><a href="#{{ element.file.path }}"><i class="icon-file"></i> {{ element.file.path }}</a></li>
                    {% endif %}
                    {% set errorCount = errorCount + element.tags.deprecated.count %}
                    {% set previousPath = element.file.path %}
                {% endfor %}
            </ul>
        </div>

        <div class="span7">
            <ul class="breadcrumb">
                <li><a href="{% if path('/') == '' %}?{% else %}{{ path('/') }}{% endif %}"><i class="icon-flag"></i></a><span class="divider">\</span></li>
                <li>Deprecated elements</li>
            </ul>

            {% if errorCount <= 0 %}
                <div class="alert alert-info">No errors have been found in this project.</div>
            {% endif %}

            <div id="marker-accordion">
                {% for element in project.indexes.elements if element.deprecated %}
                    {% if element.file.path != previousPath %}
                        {% if previousPath %}
                                </table>
                            </div>
                        {% endif %}
                        <a name="{{ element.file.path }}" id="{{ element.file.path }}"></a>
                        <h3>
                            <i class="icon-file"></i> {{ element.file.path }}
                            <span class="pull-right badge badge-info">{{ element.tags.deprecated.count }}</span>
                        </h3>
                        <div>
                            <table class="table markers table-bordered">
                                <tr>
                                    <th>Element</th>
                                    <th>Line</th>
                                    <th>Description</th>
                                </tr>
                    {% endif %}
                            {% for tag in element.tags.deprecated %}
                                <tr>
                                    <td>{{ element.fullyQualifiedStructuralElementName }}</td>
                                    <td>{{ element.line }}</td>
                                    <td>{{ (tag.version ~ ' ' ~ tag.description)|markdown|raw }}</td>
                                </tr>
                            {% endfor %}
                    {% set previousPath = element.file.path %}
                {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
