{% use 'base/sidebar.html.twig' %}

{% block sidebar_buttons %}
    <div class="btn-group visibility" data-toggle="buttons-checkbox">
        <button class="btn public active" title="Show public elements">Public</button>
        <button class="btn protected" title="Show protected elements">Protected</button>
        <button class="btn private" title="Show private elements">Private</button>
        <button class="btn inherited active" title="Show inherited elements">Inherited</button>
    </div>
{% endblock %}

{% block sidebar_entry %}
    <li class="{{ type }} {{ item.visibility }}{{ item.parent.name != node.name ? ' inherited' : '' }}">
        <a href="#{{ type }}_{{ item.name }}" title="{{ item.name }} :: {{ item.summary }}">
            <span class="methodName">{{ item.name }}</span>
        </a>
    </li>
{% endblock %}

{% block sidebar_content %}
    <ul class="side-nav nav nav-list">
        <li class="nav-header">
            Methods
            <ul>
                {% set specialMethods = node.magicMethods ? node.inheritedMethods.merge(node.magicMethods) : node.inheritedMethods %}
                {% for item in node.methods.merge(specialMethods)|sort_asc %}
                    {% set type='method' %}
                    {% if item.visibility == '' or item.visibility == 'public' %}
                        {{ block('sidebar_entry') }}
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
        <li class="nav-header protected">» Protected
            <ul>
                {% set specialMethods = node.magicMethods ? node.inheritedMethods.merge(node.magicMethods) : node.inheritedMethods %}
                {% for item in node.methods.merge(specialMethods)|sort_asc %}
                    {% if item.visibility == 'protected' %}
                        {{ block('sidebar_entry') }}
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
        <li class="nav-header private">» Private
            <ul>
                {% set specialMethods = node.magicMethods ? node.inheritedMethods.merge(node.magicMethods) : node.inheritedMethods %}
                {% for method in node.methods.merge(specialMethods)|sort_asc %}
                    {% if item.visibility == 'private' %}
                        {{ block('sidebar_entry') }}
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
        <li class="nav-header">
            Constants
            {% if node.constants.merge(node.inheritedConstants)|length > 0 %}
            <ul>
                {% for constant in node.constants.merge(node.inheritedConstants)|sort_asc %}
                <li class="constant {{ constant.visibility }}">
                    <a href="#constant_{{ constant.name }}" title="{{ constant.name }} :: {{ constant.summary }}">
                        <pre>{{ constant.name }}</pre>
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
    </ul>
{% endblock %}
