{% import 'base/macros.html.twig' as macros %}

<div class="element__node node--clickable node--constant node--visibility-public{{ constant.parent.name != node.name ? ' node--inherited' : '' }}" id="constant_{{ constant.name }}" data-toggle="collapse" data-target="#constant_{{ constant.name }} .collapse">
    <h3 class="node__header">{{ constant.name }}</h3>

    {% if constant.summary %}
        {{ constant.summary|markdown|raw }}
    {% endif %}

    {% if (constant.parent.name != node.name) or (constant.tags.deprecated is defined) %}
        <div class="pull-right">
            {% if constant.parent.name != node.name %}<span class="label">inherited</span>{% endif %}
            {% if constant.tags.deprecated is defined %}<span class="label label-important">deprecated</span>{% endif %}
        </div>
    {% endif %}

    <div class="collapse">
        {% if constant.description %}
            <div class="node__description">{{ constant.description|markdown|raw }}</div>
        {% endif %}

        <table class="table table-condensed">
            <tbody>
                <tr>
                    <th scope="row">Value</th>
                    <td>{{ constant.value }}</td>
                </tr>
                {% if constant.tags|length > 0 %}
                    {% for tagList in constant.tags if tagList|length %}
                        {% if tagList.0.name not in ['var'] %}
                            {% if tagList.0.name == 'package' and tagList.0.description == 'Default' %}
                                {# Do not display the package tag if its value is "Default" #}
                            {% else %}
                                <tr>
                                    <th scope="row">
                                        {{ tagList.0.name }}
                                    </th>
                                    <td>
                                        {% for tag in tagList %}
                                            {% if tag.name == 'since' %}
                                                {{ tag.version|markdown|raw }}
                                            {% elseif tag.name == 'deprecated' %}
                                                {{ (tag.version ~ ' ' ~ tag.description)|markdown|raw }}
                                            {% elseif tag.name == 'see' %}
                                                {% if tag.reference|slice(0, 4) == 'http' %}
                                                    {{ tag.reference|markdown|raw }}
                                                {% else %}
                                                    {{ tag.reference|route|raw }}
                                                {% endif %}
                                            {% else %}
                                                {{ tag.description|markdown|raw }}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>

        {% if constant.type and constant.type|join() != 'void' %}
            <h4 class="node__subheader">Type(s)</h4>
            <code>{{ constant.type|route|join('|')|raw }}</code>
        {% endif %}
    </div>
</div>
