{% import 'base/macros.html.twig' as macros %}

<div class="collapse">
    {% if method.description %}
        <div class="node__description">{{ method.description|markdown|raw }}</div>
    {% endif %}

    {% if method.tags|length > 0 %}
        <table class="table table-condensed">
            <tbody>
                {% for tagList in method.tags if tagList|length %}
                    {% if tagList.0.name not in ['param', 'return', 'api', 'codeCoverageIgnore'] %}
                        <tr>
                            <th scope="row">
                                {{ tagList.0.name }}
                            </th>
                            <td>
                                {% for tag in tagList %}
                                    {% if tag.name == 'since' %}
                                        {{ tag.version|markdown|raw }}
                                    {% elseif tag.name == 'deprecated' %}
                                        {{ (tag.version ~ ' ' ~ tag.description)|markdown|raw }}
                                    {% elseif tag.name == 'see' %}
                                        {% if tag.reference|slice(0, 4) == 'http' %}
                                            {{ tag.reference|markdown|raw }}
                                        {% else %}
                                            {{ tag.reference|route|raw }}
                                        {% endif %}
                                    {% elseif tag.name == 'throws' %}
                                        {% set tTypes = tag.types|route|join('|')|raw %}
                                        {{ ('<code>' ~ tTypes ~ '</code>' ~ tag.description)|markdown|raw }}
                                    {% else %}
                                        {{ tag.description|markdown|raw }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if method.arguments|length > 0 %}
        <h4>Arguments</h4>
        {% for argument in method.arguments %}
            <div class="subelement argument">
                <h5>{{ argument.name }}</h5>
                {% set aTypes = argument.types|route|join('|')|raw %}
                {{ ('<code>' ~ aTypes ~ '</code>' ~ argument.description)|markdown|raw }}
            </div>
        {% endfor %}
    {% endif %}

    {% if method.response.types and method.response.types|join() != 'void' %}
        <h4>Response</h4>
        {% set rTypes = method.response.types|route|join('|')|raw %}
        {{ ('<code>' ~ rTypes ~ '</code>' ~ method.response.description)|markdown|raw }}
    {% endif %}
</div>
