{% import 'base/macros.html.twig' as macros %}

<div class="collapse">
    {% if method.description %}
        <div class="node__description">{{ method.description|markdown|raw }}</div>
    {% endif %}

    {% if method.tags|length > 0 %}
        <table class="table table-condensed">
            <tbody>
                {% for tagList in method.tags if tagList|length %}
                    {% if tagList.0.name not in ['param', 'return', 'api', 'codeCoverageIgnore'] %}
                        {% if tagList.0.name == 'package' and tagList.0.description == 'Default' %}
                            {# Do not display the package tag if its value is "Default" #}
                        {% else %}
                            <tr>
                                <th scope="row">
                                    {{ tagList.0.name }}
                                </th>
                                <td>
                                    {% for tag in tagList %}
                                        {% if tag.name == 'since' %}
                                            {{ tag.version|markdown|raw }}
                                        {% elseif tag.name == 'deprecated' %}
                                            {{ (tag.version ~ ' ' ~ tag.description)|markdown|raw }}
                                        {% elseif tag.name == 'see' %}
                                            {% if tag.reference|slice(0, 4) == 'http' %}
                                                {{ tag.reference|markdown|raw }}
                                            {% else %}
                                                {{ tag.reference|route|raw }}
                                            {% endif %}
                                        {% elseif tag.name == 'throws' %}
                                            {% set tTypes = tag.type|route|join('|')|raw %}
                                            {{ ('<code>' ~ tTypes ~ '</code>' ~ tag.description)|markdown|raw }}
                                        {% else %}
                                            {{ tag.description|markdown|raw }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if method.arguments|length > 0 %}
        <h4 class="node__subheader">Arguments</h4>
        <dl class="method__arguments">
            {% for argument in method.arguments %}
                <dt class="argument__name">{{ argument.name }}</dt>
                {% set aTypes = argument.type|route|join('|')|raw %}
                <dd>{{ ('<code>' ~ aTypes ~ '</code>' ~ argument.description)|markdown|raw }}</dd>
            {% endfor %}
        </dl>
    {% endif %}

    {% if method.response.type and method.response.type|join() != 'void' %}
        <h4 class="node__subheader">Response</h4>
        {% set rTypes = method.response.type|route|join('|')|raw %}
        {{ ('<code>' ~ rTypes ~ '</code>' ~ method.response.description)|markdown|raw }}
    {% endif %}
</div>
